In [1]:
import pandas as pd

In [2]:
# Histórico PETR4
# df = pd.read_csv('C:/Users/adrianalves/Desktop/Desafio Quant/dados/PETR4 Dados Históricos.csv')
# df.to_excel('C:/Users/adrianalves/Desktop/Desafio Quant/dados/PETR4 Dados Históricos.xlsx')
df = pd.read_excel('C:/Users/adrianalves/Desktop/Desafio Quant/dados/PETR4 Dados Históricos.xlsx')
df = df.rename(columns={"Vol.":'Volume'})
# df['Último'] = df['Último'].str.replace(',','.')
# df['Abertura'] = df['Abertura'].str.replace(',','.')
# df['Máxima'] = df['Máxima'].str.replace(',','.')
# df['Mínima'] = df['Mínima'].str.replace(',','.')
df['Volume'] = df['Volume'].str.replace(',','.').str.replace('M','')
df = df.dropna()
df

      Unnamed: 0       Data  Último  Abertura  Máxima  Mínima Volume    Var%
0           3467 2009-12-18   28.67     29.07   29.16   28.58  16.19 -0.0080
1           3466 2009-12-21   27.74     29.00   29.04   27.74  20.94 -0.0324
2           3465 2009-12-22   28.64     28.16   28.64   28.06  15.04  0.0324
3           3464 2009-12-23   28.92     28.77   28.97   28.49  11.03  0.0098
4           3463 2009-12-28   28.96     29.09   29.16   28.87   9.12  0.0014
...          ...        ...     ...       ...     ...     ...    ...     ...
3463           4 2023-12-12   30.97     31.40   31.44   30.72  30.37 -0.0081
3464           3 2023-12-13   31.42     31.09   31.46   31.03  38.99  0.0144
3465           2 2023-12-14   32.10     31.81   32.48   31.66  57.95  0.0217
3466           1 2023-12-15   32.17     32.06   32.53   31.81  56.30  0.0023
3467           0 2023-12-18   32.57     32.49   32.99   32.34  44.47  0.0124

[3466 rows x 8 columns]

Indicadores Técnicos

In [3]:
import pandas as pd
import numpy as np

# Supondo que df já está carregado com as colunas ['Último', 'Máxima', 'Mínima', 'Volume']

df['Último'] = pd.to_numeric(df['Último'], errors='coerce')
df['Máxima'] = pd.to_numeric(df['Máxima'], errors='coerce')
df['Mínima'] = pd.to_numeric(df['Mínima'], errors='coerce')
df['Volume'] = pd.to_numeric(df['Volume'], errors='coerce')


#############
# 1. Média Móvel Simples de 10 dias (MA)
df['Média Móvel'] = df['Último'].rolling(window=10).mean()

############
# 2. Média Móvel Ponderada de 10 dias (WMA)
def WMA(values, window):
    weights = np.arange(1, window + 1)
    return np.dot(values[-window:], weights) / weights.sum()

df['Média Móvel Ponderada'] = df['Último'].rolling(window=10).apply(lambda x: WMA(x, 10), raw=False)

######### 
# 3. Momentum (diferença em relação ao fechamento de 10 dias atrás)
df['Momentum'] = df['Último'].diff(periods=10)

###################### 
# 4. Oscilador Estocástico %K e %D (14 dias)
df['Lowest_14'] = df['Mínima'].rolling(window=14).min()
df['Highest_14'] = df['Máxima'].rolling(window=14).max()
df['%K'] = (df['Último'] - df['Lowest_14']) / (df['Highest_14'] - df['Lowest_14']) * 100
df['%D'] = df['%K'].rolling(window=3).mean()  # %D é a média de 3 dias de %K

################
# 5. Índice de Força Relativa (RSI) - 14 dias
def RSI(df, window=14):
    delta = df['Último'].diff(1)
    gain = delta.where(delta > 0, 0)
    loss = -delta.where(delta < 0, 0)
    avg_gain = gain.rolling(window=window).mean()
    avg_loss = loss.rolling(window=window).mean()
    rs = avg_gain / avg_loss
    return 100 - (100 / (1 + rs))

df['RSI'] = RSI(df)

######### 
# 6. Convergência e Divergência de Média Móvel (MACD)
df['EMA_12'] = df['Último'].ewm(span=12, adjust=False).mean()
df['EMA_26'] = df['Último'].ewm(span=26, adjust=False).mean()
df['MACD'] = df['EMA_12'] - df['EMA_26']
df['Signal_Line'] = df['MACD'].ewm(span=9, adjust=False).mean()

################
# 7. Larry Williams %R (14 dias)
df['Williams_%R'] = (df['Highest_14'] - df['Último']) / (df['Highest_14'] - df['Lowest_14']) * -100

#################
# 8. Oscilador de Acumulação/Distribuição (A/D)
df['Money_Flow_Multiplier'] = ((df['Último'] - df['Mínima']) - (df['Máxima'] - df['Último'])) / (df['Máxima'] - df['Mínima'])
df['Money_Flow_Volume'] = df['Money_Flow_Multiplier'] * df['Volume']
df['A/D'] = df['Money_Flow_Volume'].cumsum()

################
# 9. Commodity Channel Index (CCI) - 20 dias
typical_price = (df['Último'] + df['Máxima'] + df['Mínima']) / 3
moving_average = typical_price.rolling(window=20).mean()
mean_deviation = typical_price.rolling(window=20).apply(lambda x: np.mean(np.abs(x - x.mean())))
df['CCI'] = (typical_price - moving_average) / (0.015 * mean_deviation)

# 10. PPO (Oscilador de Preço Percentual)
df['PPO'] = (df['EMA_12'] - df['EMA_26']) / df['EMA_26'] * 100

In [4]:
df = df.dropna()
columns_to_keep = ['Último', 'Máxima', 'Mínima', 'Volume', 'Média Móvel', 'Média Móvel Ponderada', 
                   'Momentum', '%K', '%D', 'RSI', 'MACD', 'Signal_Line', 'Williams_%R', 'A/D', 'CCI', 'PPO']

df = df[columns_to_keep].copy()
df

,Último,Máxima,Mínima,Volume,Média Móvel,Média Móvel Ponderada,Momentum,%K,%D,RSI,MACD,Signal_Line,Williams_%R,A/D,CCI,PPO
19,27.94,28.49,27.79,18.80,28.640,28.473818,-1.61,8.522727,34.892191,37.440758,-0.099522,-0.003569,-91.477273,-12.494141,-144.235310,-0.346832
20,27.06,28.14,27.02,24.59,28.418,28.186545,-2.22,1.581028,17.897833,31.474104,-0.214607,-0.045776,-98.418972,-35.327712,-219.622642,-0.751068
21,27.39,27.43,26.84,19.06,28.245,27.999636,-1.73,20.295203,10.132986,29.218107,-0.276002,-0.091821,-79.704797,-18.852119,-215.238308,-0.968910
22,26.72,27.06,26.52,20.32,28.014,27.722364,-2.31,6.600660,9.492297,26.893939,-0.374406,-0.148338,-93.399340,-24.120267,-218.345245,-1.320421
23,26.88,27.02,26.41,19.93,27.836,27.516182,-1.78,15.161290,14.019051,23.564356,-0.434473,-0.205565,-84.838710,-13.338464,-171.590719,-1.538187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3463,30.97,31.44,30.72,30.37,31.475,31.202909,-1.38,34.686347,42.435424,40.789474,-0.030442,0.126686,-65.313653,-2939.120904,-101.016395,-0.096989
3464,31.42,31.46,31.03,38.99,31.415,31.192909,-0.60,51.291513,43.419434,45.312500,-0.023118,0.096725,-48.708487,-2907.384857,-57.675739,-0.073649
3465,32.10,32.48,31.66,57.95,31.361,31.317455,-0.54,76.383764,54.120541,50.393701,0.037128,0.084806,-23.616236,-2903.144613,55.428018,0.118086
3466,32.17,32.53,31.81,56.30,31.336,31.464545,-0.25,78.966790,68.880689,52.403846,0.089491,0.085743,-21.033210,-2903.144613,65.957659,0.284135
3467,32.57,32.99,32.34,44.47,31.420,31.688909,0.84,85.810811,80.387121,51.785714,0.161405,0.100875,-14.189189,-2916.143536,126.497078,0.511171

Indicadores Financeiros

In [16]:
df1 = pd.read_excel('C:/Users/adrianalves/Desktop/Desafio Quant/dados/Indicadores_Financeiros.xlsx')
df1 = df1.drop('Lucro Liquido Disponivel aos acionistas',axis=1)
df1 = df1.drop('Receita de vendas',axis=1)
df1 = df1.drop('Número de Ações',axis=1)
df1 = df1.drop('Ativo Circulante',axis=1)
df1 = df1.drop('Passivo Circulante',axis=1)
df1 = df1.drop('Estoques',axis=1)
df1

    Semestre        MLL         LA       ILS    PIB
0  2010-03-01  0.108431   0.445841  5.470533   9.21
1  2010-06-01  0.163019   0.631454  0.728438   8.52
2  2010-09-01  0.040729   1.598593  0.731388   6.91
3  2010-12-01  0.164994   2.697613  1.250920   5.69
4  2011-03-01  0.200454   0.842115  1.587176   5.20
5  2011-06-01  0.178024   0.838893  1.541274   4.70
6  2011-09-01  0.027835   0.484189  1.078872   3.54
7  2011-12-01  0.136430   2.553797  1.359248   2.57
8  2012-03-01  0.139323   0.706352  1.386998   1.71
9  2012-06-01  0.060493   0.622255  1.185856   0.99
10 2012-09-01  0.064599   1.029936  1.364806   2.49
11 2012-12-01  0.075279   1.623827  1.269262   2.48
12 2013-03-01  0.109963   0.589751  0.766255   2.72
13 2013-06-01  0.095059   1.065123  1.666735   4.02
14 2013-09-01  0.043694   0.260263  1.481854   2.76
15 2013-12-01  0.077307   1.806892  0.597165   2.53
16 2014-03-01  0.077307        NaN  1.597226   3.47
17 2014-06-01  0.060257   0.380160  1.223324  -0.44
18 2014-09-01  0.019876   0.384300  1.111288  -0.64
19 2014-12-01 -0.064007  -1.654874  0.393162  -0.23
20 2015-03-01  0.071685   0.408601 -0.001588  -1.62
21 2015-06-01  0.037985   0.449308  0.697103  -2.74
22 2015-09-01  0.008887   0.161141  0.534076  -4.26
23 2015-12-01 -0.108308  -2.670551  0.500338  -5.52
24 2016-03-01 -0.017715  -0.095519  1.090147  -5.14
25 2016-06-01  0.005188        NaN  1.716851  -3.22
26 2016-09-01 -0.233636  -1.261681  1.414053  -2.45
27 2016-12-01 -0.052458  -1.136418 -0.320009  -2.26
28 2017-03-01  0.065077   0.341063 -0.000147   0.28
29 2017-06-01  0.004717   0.024225  0.435139   0.79
30 2017-09-01  0.003704   0.020392  0.505896   1.64
31 2017-12-01 -0.001226  -0.019472  0.431456   2.58
32 2018-03-01  0.093485   0.533635  0.672909   1.90
33 2018-06-01  0.119344   0.772126  1.111121   1.62
34 2018-09-01  0.052540        NaN  0.000000   2.06
35 2018-12-01  0.079082   1.976236  1.120699   1.55
36 2019-03-01  0.050388   0.309019  0.448801   0.90
37 2019-06-01  0.265304   1.446280  0.468315   1.17
38 2019-09-01  0.124150   0.696616  0.414573   1.11
39 2019-12-01  0.520915   3.076930  0.993311   1.69
40 2020-03-01  0.078056   0.589214  1.211419   0.41
41 2020-06-01  0.139700   0.825176  1.096309 -10.14
42 2020-09-01  0.086229   0.509334  0.756635  -3.04
43 2020-12-01  0.100495        NaN  3.165184  -0.33
44 2021-03-01  0.013542   0.089463  0.496119   1.75
45 2021-06-01  0.404125   3.285293  0.561512  12.40
46 2021-09-01  0.256115   2.387367  0.914131   4.21
47 2021-12-01  0.235643   8.177241  0.946988   1.46
48 2022-03-01  0.065077   0.341063  0.127199   1.47
49 2022-06-01  0.333850   4.164975  0.553963   3.54
50 2022-09-01  0.281507   3.533751  0.511194   4.32
51 2022-12-01  0.390174  14.437352  0.480525   2.69
52 2023-03-01  0.295467        NaN  0.518204   4.22
53 2023-06-01  0.252829   2.206448  0.643639   3.47
54 2023-09-01  0.369276   3.533751  0.697421   1.96
55 2023-12-01  0.243374   9.552381  0.731388   2.05